<!doctype html>
<html>
        <head>
                <title>REGISTER</title>
                <link rel="stylesheet" type="text/css" href="public/styles/main.css">
                <link rel="stylesheet" type="text/css" href="public/styles/login.css">
                <script src="public/scripts/register.js" defer></script>
        </head>
        <body>
                <form onsubmit="event.preventDefault(); register();">
                        <h1>REGISTER</h1>
                        <input type="email" id="email" placeholder="Email" required autofocus>
                        <input type="password" id="password" placeholder="Password" required>
                        <input type="password" id="confirmedPassword" placeholder="Confirm Password" required>
                        <button type="submit">REGISTER</button>

                        <div class="login-link" style="margin-top: 10px; text-align: center;">
                                <p>Already have an account? <a href="/login">Login here</a></p>
                        </div>
                </form>
        </body>
</html>
