<!doctype html>
<html>
        <head>
                <title>Programmar</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="public/styles/main.css">
                <link rel="stylesheet" type="text/css" href="public/styles/login.css">
                <link rel="icon" type="image/svg+xml" href="public/resources/logo.svg">
                <script src="public/scripts/register.js" defer></script>
        </head>
        <body>
                <div id="toast-container"></div>

                <form onsubmit="event.preventDefault(); register();">
                         <div class="form-logo">
                                <?php include 'public/resources/logo.svg'; ?>
                        </div>

                        <h1>Create Account</h1>
                        <p class="subtitle">Start your learning path today.</p>

                        <input type="email" id="email" placeholder="Email address" required autofocus>
                        <input type="password" id="password" placeholder="Password" required>
                        <input type="password" id="confirmedPassword" placeholder="Confirm Password" required>

                        <button type="submit">Sign Up</button>

                        <div class="login-link">
                                <p>Already have an account? <a href="/login">Log In</a></p>
                        </div>
                </form>
        </body>
</html>
