form {
        background-color: bisque;
        border-radius: 1rem;
        padding: 1.5rem;

        width: 45vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
}

body {
        height: 100vh;
        margin: 0;
}
